# Created by ansible
[Unit]
Description=samba mount {{ vg_share_name }} from {{ vg_share_host }}
Requires={{ vg_share_depend_on }}
After={{ vg_share_depend_on }}
Wants={{ vg_share_depend_on }}

[Mount]
What=//{{ vg_share_host }}/{{ vg_share_name }}
Where={{ mount_dir }}
Type=cifs
Options=rw,uid={{ vg_share_uid }},gid={{ vg_share_gid }},user={{ vg_share_user }},pass={{ vg_share_pass }},vers=2.0,iocharset=utf8,file_mode=0644,dir_mode=0755

[Install]
WantedBy={{ vg_share_install_on }}
